div.machinecard__container {
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    padding-left: 1%;   
}

div.machinecardName__container {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}