.overview__container {
    /* border:1px solid green; */

    /* Enables wrapping for the objects inside the container (mostly for Machine Cards) */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}